body {
	margin: 0;
	display: flex;
	flex-direction: column;
}

.text {
	color: #979ca4;
}

.header {
	display: flex;
	justify-content: space-between;
}

.logo {
	color: #ffffff;
	font-weight: 900;
}

.image {
	width: 1000px;
	height: 200px;
	background-color: #e5e7eb;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	display: flex;
	flex-direction: column;
	margin-right: 25px;
}

.sign-up {
	background-color: blue;
	color: white;
	border: none;
	border-radius: 8px;
	width: fit-content;
	padding: 8px 32px;
	margin-top: 10px;
	font-size: 16px;
}

ul {
	color: white;
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	gap: 20px;
}

.header, .section-one {
	max-width: 2000px;
	background-color: #1f2937;
	padding: 20px 200px;
	display: flex;
	justify-content: space-between;
}

.section-one {
	padding-top: 60px;
	padding-bottom: 80px;
}

.title-wrap {
	font-weight: 900px;
	font-size: 24px;
	color: #ffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px
}

.section-two {
	padding:20px 200px;
}

.info-title {
	font-weight: 900;
	font-size: 20px;
	text-align: center;
	padding: 40px;
}

.cards {
	display: flex;
	gap: 20px;
	justify-content: flex-start;
	padding-bottom: 100px;
} 

.card-image img {
	width: 80%;
	height: 80%;
}


.section-three {
	background-color: #e5e7eb;
}

