body {
	margin: 0;
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: space-between;
}

.logo {
	color: #F9FAF8;
	font-size: 24px;
	font-weight: 900;
}

.image {
	width: 1000px;
	height: 200px;
	background-color: #e5e7eb;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	display: flex;
	flex-direction: column;
	margin-right: 25px;
}

button, .container-two {
	background-color: #3882F6;
	color: white;
	border-radius: 8px;
	width: fit-content;
	padding: 8px 32px;
	margin-top: 10px;
	font-size: 16px;
	gap: 100px;
}

ul {
	color: white;
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	gap: 20px;
}

.header, .section-one {
	max-width: 2000px;
	background-color: #1f2937;
	padding: 20px 200px;
	display: flex;
	justify-content: space-between;
}

.section-one {
	padding-top: 60px;
	padding-bottom: 80px;
}

.main-text {
	font-weight: 900;
	font-size: 48px;
	color: #F9FAF8;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px
}

.secondary-text {
	font-size: 18px;
	color: #E5E7EB;
}

.section-two {
	padding:20px 200px;
}

.info-heading {
	font-size: 36px;
	color: #1F2937;
	font-weight: 900;
	text-align: center;
	padding: 40px;
}

.cards {
	display: flex;
	gap: 20px;
	justify-content: flex-start;
	padding-bottom: 100px;
} 

.card-image img {
	width: 80%;
	height: 80%;
}


.section-three {
	background-color: #e5e7eb;
	display:flex;
	padding: 70px 20px;
	justify-content: center;
}

.container {
	width: 600px;
	display: flex;
	flex-direction: column;
}

.quote {
	background-color: #E5E7EB;
	font-size: 36px;
	color: #1F2937;
	font-weight: 300;
	font-style: italic;
}
.author {
	align-self: flex-end;
	font-weight: bold;
	margin-top: 10px;
}

.section-four {
	margin: 100px 0;
	padding: 30px;
}

.container-two {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	padding: 30px 40px;
	justify-content: space-between;
	align-items: center;

	background-color: #3882f6;
	border-radius: 6px;
	color: white;
	box-sizing: border-box;
}

.copy {
	display: flex;
	flex-direction: column;
}

.title {
	font-weight: bold;
}

.footer {
	background: #1f2937;
	color: white;
	font-size: 20px;
	display: flex;
	justify-content: center;
	padding: 50px;
